.list li {
  padding: 0;
  padding-left: 20px;
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.list li:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #2da2ca;
  position: absolute;
  top: 9px;
  left: 0;
}

.dropdown-toggle:focus {
  outline: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.basic_btn {
  background: #00c579;
  background: -moz-linear-gradient(top, #00c579 0%, #009f5b 100%);
  background: -webkit-linear-gradient(top, #00c579 0%, #009f5b 100%);
  background: -o-linear-gradient(top, #00c579 0%, #009f5b 100%);
  background: -ms-linear-gradient(top, #00c579 0%, #009f5b 100%);
  background: linear-gradient(to bottom, #00c579 0%, #009f5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c579', endColorstr='#009f5b', GradientType=0);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  min-width: 170px;
  padding: 12.5px 25px;
  color: #fff !important;
  font-weight: 800;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  box-shadow: 0 0 0 0 rgba(140, 142, 191, 0.3) !important;
}

.basic_btn_lt {
  background: #64edb2;
  background: linear-gradient(to bottom, #64edb2 0%, #2fdd96 100%);
  background: -moz-linear-gradient(top, #64edb2 0%, #2fdd96 100%);
  background: -webkit-linear-gradient(top, #64edb2 0%, #2fdd96 100%);
  background: -o-linear-gradient(top, #64edb2 0%, #2fdd96 100%);
  background: -ms-linear-gradient(top, #64edb2 0%, #2fdd96 100%);
  background: linear-gradient(to bottom, #64edb2 0%, #2fdd96 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64edb2', endColorstr='#2fdd96', GradientType=0);
}

.basic_btn:hover,
.basic_btn.active {
  box-shadow: 0 0 25px 0 rgba(0, 142, 191, 0.8) !important;
  color: #fff !important;
}

.basic_btn_lt:hover,
.basic_btn_lt.active {
  box-shadow: 0 0 15px 0 rgba(140, 142, 191, 0.6) !important;
  color: #fff !important;
}

.basic_btn2 {
  background: #60cbff;
  background: -moz-linear-gradient(top, #60cbff 0%, #2692ff 100%);
  background: -webkit-linear-gradient(top, #60cbff 0%, #2692ff 100%);
  background: -o-linear-gradient(top, #60cbff 0%, #2692ff 100%);
  background: -ms-linear-gradient(top, #60cbff 0%, #2692ff 100%);
  background: linear-gradient(to bottom, #60cbff 0%, #2692ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60cbff', endColorstr='#2692ff', GradientType=0);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  min-width: 170px;
  padding: 12.5px 25px;
  color: #fff !important;
  font-weight: 800;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  box-shadow: 0 0 0 0 rgba(140, 142, 191, 0.3) !important;
}

.basic_btn2:hover,
.basic_btn2.active {
  color: #fff !important;
  box-shadow: 0 0 25px 0 rgba(13, 186, 225, 0.8) !important;
}

.lg_btn {
  min-width: 230px;
  padding: 17.5px 30px;
}

.input_container {
  margin-bottom: 32px;
  position: relative;
}

.input_label {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
}

.input_box {
  position: relative;
}

.input_box .form-control {
  border: 0;
  line-height: 100%;
  padding: 0px 0px 20px;
  border-bottom: 2px solid #cccccc;
  font-size: 18px;
  color: #242c47;
}

.input_box .form-control:hover,
.input_box .form-control:focus,
.input_box .form-control.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  border-bottom-color: #5cd0f4;
}

.input_box textarea.form-control {
  min-height: 85px;
}

/*images-check box open*/

.support_forminptradio input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.support_forminptradio
  input[type="checkbox"]
  + .support_forminptradio_label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 2px solid #cccccc;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.support_forminptradio
  input[type="checkbox"]:checked
  + .support_forminptradio_label::before {
  border: 5px solid #2da2ca;
}

/*images-check box end*/

/*images-radio box*/

.support_forminptradio input[type="radio"] {
  visibility: hidden;
  display: none;
}

.support_forminptradio
  input[type="radio"]
  + .support_forminptradio_label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.support_forminptradio
  input[type="radio"]:checked
  + .support_forminptradio_label::before {
  border: 5px solid #2da2ca;
}

.support_forminptradio label {
  vertical-align: middle;
}

/*--end general style--*/

/*--header--*/

.navbar-brand {
  max-width: 270px;
}

.navbar-nav li {
  margin-left: 34px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}

.navbar-nav li > a {
  padding: 0 0px 5px;
  position: relative;
}

.navbar-nav li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  border-bottom: 1px solid #fff;
}

.navbar-nav li.current_page_item > a:after,
.navbar-nav li:hover > a:after {
  width: 100%;
}

.navbar {
  padding: 42px 0;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.scroll_nav {
  transition: all 0.4s ease-in;
  padding: 12px 0;
  background-color: rgba(19, 56, 153, 0.95);
  box-shadow: 0 0 25px 0 rgba(140, 142, 191, 0.3);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

/*--banner--*/

.blue_bg {
  background: #123697;
  background: -moz-linear-gradient(top, #123697 1%, #3872e4 100%);
  background: -webkit-linear-gradient(top, #123697 1%, #3872e4 100%);
  background: linear-gradient(to bottom, #123697 1%, #3872e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#123697', endColorstr='#3872e4', GradientType=0);
}

.banner {
  position: relative;
  min-height: 100vh;
}

.home_banner_img img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(images/banner_top.png), url(images/banner_bottom.png);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
}

.banner_content_inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home_banner .banner_content_inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.page_inner_banner .banner_content_inner {
  max-width: 570px;
}

.banner_inner {
  position: relative;
}

.banner h1 {
  color: #fff;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 25px;
  width: 100%;
}

.banner p {
  font-size: 20px;
  color: #fff;
  width: 100%;
}

.banner figure {
  width: 100%;
  display: block;
  position: relative;
  right: -5%;
}

.banner figure img {
  width: 100%;
}

.banner .basic_btn {
  margin-top: 30px;
}

.section {
  position: relative;
  padding: 100px 0;
}

.sec_block1 h2 {
  font-size: 30px;
  margin-bottom: 30px;
  /* font-family: 'Muli', sans-serif;
    font-weight: 800; */
}

.sec_block1 p {
  font-size: 20px;
  line-height: 35px;
}

.sec_block1 figure {
  max-width: 420px;
  display: inline-block;
}

.sec_block1 .header {
  margin-bottom: 100px;
}

.sec_row {
  margin-bottom: 100px;
}

.sec_row:last-child {
  margin-bottom: 0px;
}

.sec_row:nth-child(even) .rt_blk {
  order: -1;
}

.sec_row:nth-child(even) .lft_blk {
  text-align: right;
}

.counter_sec {
  padding: 70px 0;
}

.header {
  margin-bottom: 40px;
  text-align: center;
}

.header h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  line-height: 32px;
}

.counter_sec .header h2,
.counter_sec .header p {
  color: #fff;
}

.count_inner {
  max-width: 215px;
  margin: 0 auto;
  text-align: center;
}

.count_inner h4 {
  color: #fff;
  font-size: 40px;
}

.count_inner p {
  color: #fff;
  font-family: "AvenirNext";
}

.count_inner figure {
  height: 70px;
  margin-bottom: 25px;
}

.news_letter_sec {
  padding: 135px 0;
}

.news_letter_sec figure {
  max-width: 440px;
}

.news_letter_sec .header {
  text-align: left;
}

.newsletter input[type="text"] {
  border: 2px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 22px;
  line-height: 50px;
  padding: 0 30px;
  width: 100%;
  -webkit-flex: 0 0 calc(100% - 170px);
  flex: 0 0 calc(100% - 170px);
  height: 50px;
  font-weight: 700;
  box-shadow: none !important;
  outline: 0 !important;
}
.newsletter input[type="text"]:focus,
.newsletter input[type="text"]:active {
  box-shadow: none !important;
  outline: none !important;
}

.newsletter input[type="submit"] {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  width: 170px;
  -webkit-flex: 0 0 170px;
  flex: 0 0 170px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 50px;
  line-height: 50px;
  background: #52f1eb;
  background: -moz-linear-gradient(left, #52f1eb 1%, #2ac6bb 100%);
  background: -webkit-linear-gradient(left, #52f1eb 1%, #2ac6bb 100%);
  background: linear-gradient(to right, #52f1eb 1%, #2ac6bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52f1eb', endColorstr='#2ac6bb', GradientType=1);
}

.newsletter {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0 0 40px rgba(140, 142, 191, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: box-shadow 0.3s ease-in;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -ms-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
}

.newsletter:focus,
.newsletter:active,
.newsletter:hover {
  box-shadow: 0 0 1px 2px #2ac6bb;
}

.footer {
  color: #fff;
}

.footer_logo {
  max-width: 270px;
  margin-bottom: 40px;
  display: block;
}

.ftr_logo_blk p {
  font-size: 16px;
  line-height: 30px;
}

.footer_link li {
  margin-right: 5%;
  display: inline-block;
}

.footer_link a {
  font-size: 14px;
  color: #fff;
  position: relative;
}

.footer_link a:hover {
  color: #00e7ff;
}

.ftr_link_sec .footer_link li {
  margin-right: 10%;
  margin-left: 10%;
}

.ftr_link_sec .footer_link a {
  font-size: 20px;
}

.footer_inner_item {
  display: inline-block;
  width: 100%;
}

.footer_inner_item ul {
  line-height: 45px;
}

.ftr_logo_blk .footer_inner_item {
  max-width: 380px;
}

.ftr_link_sec {
  text-align: right;
}

.ftr_item {
  margin-bottom: 55px;
}

.footer_copyright {
  font-size: 14px;
  text-align: right;
  line-height: 22px;
  vertical-align: top;
}

.footer_copyright a {
  color: #fff;
  line-height: 22px;
  vertical-align: top;
}

.footer_copyright a:hover {
  color: #00e7ff;
}

.top_svg {
  margin-bottom: 120px;
  overflow: hidden;
}

.top_svg svg {
  margin-top: -3px;
}

.bottom_design {
  overflow: hidden;
  position: relative;
}

.bottom_design img {
  margin-bottom: -15px;
  width: 100%;
}

.cntry_flag {
  margin-left: 30px;
  margin-top: -6px;
}

.cntry_flag .dropdown-menu {
  min-width: auto;
  padding: 0 0 3px;
  right: 0;
  left: auto;
}

.cntry_flag .bootstrap-select > .dropdown-toggle {
  background-color: transparent !important;
  border: 0 !important;
  color: #fff !important;
  outline: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  /* font-family: "Gilroy", sans-serif; */
  font-family: "Muli", sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.flag-icon-us {
  background-image: url(images/eng.svg);
}

.flag-icon {
  margin-right: 6px;
}

.cntry_flag li a {
  color: #000;
  font-size: 14px;
}

.cntry_flag .dropdown-item.active,
.cntry_flag .dropdown-item:active {
  background-color: #1e48af;
}

.readmore {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 800;
  padding-right: 35px;
  position: relative;
  background-image: url(images/readmore.svg);
  background-position: center right;
  background-size: 15px 11px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #212529;
}

.readmore:hover {
  background-position: center right 8px;
  color: #212529;
}

.sec_block1 .readmore {
  margin-top: 12px;
}

.sec_timeline .header h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 15px;
}

.sec_timeline .header {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  margin-top: 100px;
}

.num_count {
  counter-reset: my-sec-counter;
}

.num_count li {
  position: relative;
}

.num_count li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 135%;
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-right: 2px dashed #0cc17c;
}

.num_count li:before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #8e93fb;
  background: -moz-linear-gradient(top, #8e93fb 0%, #5056c9 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #8e93fb),
    color-stop(100%, #5056c9)
  );
  background: -webkit-linear-gradient(top, #8e93fb 0%, #5056c9 100%);
  background: -o-linear-gradient(top, #8e93fb 0%, #5056c9 100%);
  background: -ms-linear-gradient(top, #8e93fb 0%, #5056c9 100%);
  background: linear-gradient(to bottom, #8e93fb 0%, #5056c9 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#8e93fb", endColorstr="#5056c9", GradientType=0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  box-shadow: 0 0 25px 0 #b1c4ff;
  z-index: 2;
}

.num_count li:last-child:after {
  content: none;
}

.sec_row .lft_blk .timeline_inner {
  padding-right: 25%;
  padding-left: 0;
  text-align: right;
}

.sec_row .rt_blk .timeline_inner {
  padding-right: 0;
  padding-left: 25%;
  text-align: left;
}

.timeline_inner p {
  font-size: 30px;
  font-weight: 800;
}

.timeline_inner img {
  max-width: 370px;
}

.sec_row:nth-child(even) .lft_blk .timeline_inner {
  padding-right: 0;
  padding-left: 25%;
  text-align: left;
}

.sec_row:nth-child(even) .rt_blk .timeline_inner {
  padding-right: 25%;
  padding-left: 0;
}

.sec_timeline {
  background: #dde6fa;
  background: -moz-linear-gradient(top, #dde6fa 0%, #f1f5fd 75%, #fafbfe 100%);
  background: -webkit-linear-gradient(
    top,
    #dde6fa 0%,
    #f1f5fd 75%,
    #fafbfe 100%
  );
  background: linear-gradient(to bottom, #dde6fa 0%, #f1f5fd 75%, #fafbfe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde6fa', endColorstr='#fafbfe', GradientType=0);
}

.top_curve {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.top_curve svg {
  margin-top: -10px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.top_curve2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.top_curve2 svg {
  width: 170px;
  height: 170px;
}

.btn_wrap .basic_btn + .basic_btn {
  margin-left: 30px;
}

.page_inner_banner {
  padding: 200px 0 100px;
}

.home_banner .banner_inner {
  padding: 11vw 0 5vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.joinus_sec {
  position: relative;
}

.joinus_inner {
  padding: 50px 70px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-border-radius: 25px;
  background: #9eb9f0;
  background: -moz-linear-gradient(left, #9eb9f0 0%, #dde6fa 100%);
  background: -webkit-linear-gradient(left, #9eb9f0 0%, #dde6fa 100%);
  background: linear-gradient(to right, #9eb9f0 0%, #dde6fa 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#9eb9f0", endColorstr="#dde6fa", GradientType=1);
  margin-bottom: -120px;
  box-shadow: 0 0 45px 20px rgba(73, 137, 183, 0.1);
  -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9eb9f0', endColorstr='#dde6fa', GradientType=1);
}

.rt_join {
  text-align: right;
}

.joinus_inner h2 {
  font-size: 40px;
  line-height: 50px;
}

.joinus_inner p {
  font-size: 14px;
}

.home_banner h1 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 50px;
  width: 100%;
}

.home_banner p {
  font-size: 16px;
  font-weight: 300;
}

.location_sec .header h2,
.location_sec .header p {
  color: #fff;
}

.location_sec {
  position: relative;
  background: #123597;
  background: -moz-linear-gradient(
    top,
    #123597 0%,
    #153a9d 21%,
    #1e48af 48%,
    #2c5ecb 80%,
    #366fe0 100%
  );
  background: -webkit-linear-gradient(
    top,
    #123597 0%,
    #153a9d 21%,
    #1e48af 48%,
    #2c5ecb 80%,
    #366fe0 100%
  );
  background: linear-gradient(
    to bottom,
    #123597 0%,
    #153a9d 21%,
    #1e48af 48%,
    #2c5ecb 80%,
    #366fe0 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#123597', endColorstr='#366fe0', GradientType=0);
}

.bg_loc_img {
  margin-top: 65px;
  position: relative;
}

.bg_loc_img svg,
.bg_loc_img img {
  width: 100%;
}

.cntry_pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-toggler {
  margin-left: auto;
}

/*--animation--*/

@-webkit-keyframes bounce {
  0%,
  100% {
    transform: translateY(0) translatex(0) scale(1);
    -webkit-transform: translateY(0) translatex(0) scale(1);
    -moz-transform: translateY(0) translatex(0) scale(1);
    -ms-transform: translateY(0) translatex(0) scale(1);
    -o-transform: translateY(0) translatex(0) scale(1);
  }
  50% {
    transform: translateY(-10px) translatex(2px) scale(1.01);
    -webkit-transform: translateY(-10px) translatex(2px) scale(1.01);
    -moz-transform: translateY(-10px) translatex(2px) scale(1.01);
    -ms-transform: translateY(-10px) translatex(2px) scale(1.01);
    -o-transform: translateY(-10px) translatex(2px) scale(1.01);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) translatex(0) scale(1);
    -webkit-transform: translateY(0) translatex(0) scale(1);
    -moz-transform: translateY(0) translatex(0) scale(1);
    -ms-transform: translateY(0) translatex(0) scale(1);
    -o-transform: translateY(0) translatex(0) scale(1);
  }
  50% {
    transform: translateY(-10px) translatex(5px) scale(1.01);
    -webkit-transform: translateY(-10px) translatex(5px) scale(1.01);
    -moz-transform: translateY(-10px) translatex(5px) scale(1.01);
    -ms-transform: translateY(-10px) translatex(5px) scale(1.01);
    -o-transform: translateY(-10px) translatex(5px) scale(1.01);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.bounce2 {
  -webkit-animation-duration: 3.2s;
  animation-duration: 3.2s;
}

@keyframes bounce3 {
  from {
    -webkit-transform: translateX(0) scaleY(1);
    transform: translateX(0) scaleY(1);
    -moz-transform: translateX(0) scaleY(1);
    -ms-transform: translateX(0) scaleY(1);
    -o-transform: translateX(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(0.5%) scaleY(1.005);
    transform: translateX(0.5%) scaleY(1.005);
    -moz-transform: translateX(0.5%) scaleY(1.005);
    -ms-transform: translateX(0.5%) scaleY(1.005);
    -o-transform: translateX(0.5%) scaleY(1.005);
  }
}

.bounce3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce3;
  animation-name: bounce3;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes up {
  from {
    -webkit-transform: translateX(-50%) scaleY(1);
    transform: translateX(-50%) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-50%) scaleY(1.01);
    transform: translateX(-50%) scaleY(1.01);
  }
}

.bounce4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: up;
  animation-name: up;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*--end bounce--*/

figure svg {
  width: 100%;
  height: auto;
}

#zoom1,
#zoom2,
#zoom3,
#zoom4 {
  opacity: 0;
  transition: all 0.45s ease-in;
}

#zoom1.active,
#zoom2.active,
#zoom3.active,
#zoom4.active {
  opacity: 1;
}

#zoom1 text,
#zoom2 text,
#zoom3 text,
#zoom4 text {
  /* font-family: "Gilroy", sans-serif; */
  font-family: "Muli", sans-serif;
  font-size: 16px;
  fill: #fff;
}

/*---svg---*/

.anim img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}

.home_banner_img {
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
  background-color: #fff;
  pointer-events: none;
}

.bg_img {
  width: 100%;
  position: relative;
  /* z-index:2; */
}

.rocket {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  z-index: 1;
}

.lft_man {
  position: absolute;
  left: 6%;
  width: 32%;
  bottom: 0;
  z-index: 5;
}

.rt_man {
  position: absolute;
  right: 13%;
  width: 20%;
  bottom: 0.5%;
  z-index: 7;
}

.small_man {
  position: absolute;
  left: 33%;
  width: 6%;
  bottom: 20%;
  z-index: 5;
}

.cloud2 {
  position: absolute;
  right: 11%;
  width: 38%;
  bottom: 15%;
  z-index: 2;
}

.cloud1 {
  position: absolute;
  left: 11%;
  width: 38%;
  bottom: 13%;
  z-index: 2;
}

.lft_star {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 6%;
  width: 100%;
  transform-origin: left top;
}

.rt_star {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 7%;
  width: 100%;
  transform-origin: right top;
}

.rt_star svg {
  float: right;
}

.btm_bg_img {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.btm_cover {
  position: absolute;
  bottom: -6px;
  left: -2px;
  right: -2px;
  z-index: 6;
  max-width: 105%;
  width: 101%;
}

/*--end--*/

/*--star animation--*/

@keyframes star {
  to {
    zoom: 10%;
    opacity: 0;
  }
  from {
    zoom: 100%;
    opacity: 1;
  }
}

.star {
  animation-name: star;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
  fill: #fff;
}

@keyframes star1 {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

.star1 {
  animation-name: star1;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  fill: #fff;
}

@keyframes star2 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.star2 {
  animation-name: star2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  fill: #fff;
}

.for_mobile {
  display: none;
}

/*--end--*/

.banner .basic_btn:hover,
.basic_btn.active {
  box-shadow: 0 0 22px 0px rgba(92, 240, 255, 1) !important;
}

.banner .basic_btn_lt:hover,
.basic_btn_lt.active {
  box-shadow: 0 0 22px 0px rgba(0, 0, 0, 0.7) !important;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: -1;
}

.top_design {
  padding-top: 50px;
  position: relative;
}

.top_design:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url(images/top_design.png);
  position: absolute;
  top: 0;
  left: 15px;
  height: 22px;
  width: 22px;
}

/*--end-*/

/*--responsive--*/

@media (max-width: 1199px) {
  .timeline_inner img {
    max-width: 100%;
  }
  .home_banner .banner_inner {
    padding: 150px 0 75px;
  }
  .home_banner h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .sec_block1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sec_block1 h2 br {
    display: none;
  }
  .banner h1 {
    font-size: 42px;
    line-height: 62px;
  }
  .btn_wrap .basic_btn + .basic_btn {
    margin-left: 17px;
  }
}

@media (max-width: 1024px) {
  .banner {
    min-height: auto;
  }
  .home_banner_img {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .cntry_flag {
    margin-top: 0;
  }
  #zoom1 text,
  #zoom2 text,
  #zoom3 text,
  #zoom4 text {
    font-size: 24px !important;
  }
  .footer_copyright {
    text-align: center;
  }
  .footer_link li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .main_nav .navbar-collapse {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    background-color: rgba(19, 56, 153, 0.95);
  }
  .main_nav .navbar-nav {
    padding: 20px 0;
  }
  .cntry_flag {
    margin-left: auto;
  }
  .navbar-toggler {
    width: 25px;
    height: 20px;
    position: relative;
    margin-left: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    -ms-transform: rotate(0deg);
    -ms-transition: 0.5s ease-in-out;
  }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -ms-transform: rotate(0deg);
  }
  /* Icon 4 */
  .navbar-toggler span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
    -ms-transform: rotate(45deg);
  }
  .navbar-toggler.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .navbar-toggler.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 4px;
    -ms-transform: rotate(-45deg);
  }
  .navbar-nav li {
    margin-left: 0;
    padding: 10px 35px;
  }
  .navbar-nav li > a:after {
    content: none;
  }
  .section {
    padding: 60px 0;
  }
  .navbar {
    padding: 20px 0;
  }
  .navbar-brand {
    max-width: 200px;
  }
  .banner h1,
  .home_banner h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .banner .basic_btn {
    margin-top: 10px;
  }
  .btn_wrap .basic_btn + .basic_btn {
    margin-left: 20px;
  }
  .basic_btn {
    font-size: 16px;
    line-height: 20px;
    min-width: 150px;
    padding: 12px 20px;
  }
  .scroll_nav {
    padding: 10px 0;
  }
  .sec_block1 p,
  .header p,
  .timeline_inner p {
    font-size: 18px;
    line-height: 28px;
  }
  .top_curve2 svg {
    width: 140px;
    height: 80px;
  }
  .sec_timeline .header h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .header {
    margin-bottom: 30px;
  }
  .sec_row .lft_blk .timeline_inner,
  .sec_row .rt_blk .timeline_inner {
    padding: 0 !important;
  }
  .sec_row {
    margin-bottom: 30px;
  }
  .num_count li {
    padding-top: 25px;
  }
  .num_count li:before {
    content: none;
  }
  .sec_row:nth-child(even) .rt_blk {
    order: 1;
  }
  .timeline_inner img {
    max-width: 250px;
    width: 100%;
  }
  .timeline .btn_block {
    margin-top: 40px;
  }
  .sec_block1 figure {
    max-width: 280px;
    margin-bottom: 20px;
  }
  .sec_block1 .readmore {
    margin-top: 0;
  }
  .joinus_inner {
    padding: 30px 30px;
  }
  .joinus_inner h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .joinus_inner .btn_wrap {
    margin-top: 25px;
  }
  .lft_join,
  .rt_join {
    text-align: center;
  }
  .ftr_logo_blk .footer_inner_item {
    max-width: 100%;
  }
  .ftr_item {
    text-align: center;
  }
  .footer_logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .ftr_link_sec .footer_link li {
    margin-right: 20px;
    margin-left: 20px;
  }
  .ftr_item {
    margin-bottom: 35px;
  }
  .news_letter_sec figure {
    margin-left: auto;
    margin-right: auto;
  }
  .count_box {
    margin-bottom: 40px;
  }
  .count_inner figure {
    height: 40px;
  }
  .count_row {
    margin-bottom: -40px;
  }
  .page_inner_banner figure {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .page_inner_banner .banner_content_inner {
    max-width: 100%;
    justify-content: center;
  }
  .banner {
    text-align: center;
  }
  .banner h1 br {
    display: none;
  }
  .home_banner.banner h1 br {
    display: block;
  }
  .page_inner_banner {
    padding: 140px 0 50px;
  }
  .banner figure {
    right: 0;
  }
  .navbar-nav li.current_page_item > a,
  .navbar-nav li:hover > a {
    color: #00e7ff;
  }
  .navbar-nav li > a {
    padding: 0;
  }
  .num_count li:after {
    left: 15%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .sec_row .lft_blk .timeline_inner {
    position: relative;
    z-index: 2;
    padding: 0 5%;
  }
  .anim img:nth-child(2) {
    top: -8%;
    padding: 0 35%;
    right: -30%;
  }
  .sec_blck figure {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  .bg_loc_img {
    margin-top: 25px;
  }
  .scroll_nav,
  .navbar {
    padding: 10px 0;
  }
  .navbar-nav li {
    padding: 6px 15px;
  }
  .page_inner_banner {
    padding: 100px 0 50px;
  }
  .ftr_item {
    margin-bottom: 25px;
  }
  .joinus_inner {
    padding: 25px 22px;
    margin-bottom: -20%;
  }
  .top_svg {
    margin-bottom: 20%;
  }
  .joinus_box {
    padding: 0 15px;
  }
  .home_banner .banner_inner {
    padding: 100px 0 55px;
  }
  .banner h1,
  .home_banner h1 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .banner p,
  .home_banner p {
    font-size: 14px;
  }
  .basic_btn {
    font-size: 14px;
    line-height: 20px;
    min-width: 130px;
    padding: 12px 15px;
  }
  .banner {
    min-height: auto;
  }
  .header h2,
  .sec_block1 h2,
  .sec_timeline .header h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 5px;
  }
  .top_curve2 svg {
    width: 50px;
    height: 50px;
  }
  .sec_block1 p,
  .header p {
    font-size: 16px;
    line-height: 28px;
  }
  .timeline_inner p {
    font-size: 18px;
    line-height: 28px;
  }
  .timeline {
    margin-top: 0px;
  }
  .footer_logo {
    max-width: 240px;
  }
  .page_inner_banner figure {
    max-width: 270px;
  }
  .news_letter_sec figure {
    max-width: 240px;
  }
  .news_letter_sec {
    padding: 50px 0;
  }
  .newsletter input[type="submit"] {
    font-size: 14px;
    width: 92px;
    -webkit-flex: 0 0 92px;
    flex: 0 0 92px;
  }
  .newsletter input[type="text"] {
    -webkit-flex: 0 0 calc(100% - 92px);
    flex: 0 0 calc(100% - 92px);
    font-size: 14px;
    padding: 0 15px;
  }
  .newsletter input[type="text"]:focus,
  .newsletter input[type="text"]:active {
    box-shadow: none !important;
  }
  /* .timeline .rt_blk .timeline_inner {
        margin-top: 15px;
    } */
  .timeline .rt_blk .timeline_inner {
    margin-top: 0;
  }
  .alter_box_row .sec_row .rt_blk {
    padding-left: 0;
  }
  @-webkit-keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }
  }
  .top_design {
    padding-top: 30px;
  }
  .top_design:after {
    left: 0;
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 576px) {
  .header h2,
  .sec_block1 h2,
  .sec_timeline .header h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .sec_block1 p,
  .header p {
    font-size: 14px;
    line-height: 24px;
  }
  /* .num_count li {
        padding-top: 0;
        margin-bottom: 10px;
    } */
  .timeline_inner p {
    font-size: 16px;
    line-height: 24px;
  }
  /* .home_banner_img img {
        width: 100%;
        object-fit: cover;
        height: 530px;
    } */
  .sec_block1 .alter_box_row h2 {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .sec_block1 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .readmore {
    font-size: 14px;
    padding-right: 22px;
    background-size: 12px 9px;
  }
  .readmore:hover,
  .readmore:active {
    background-position: center right 5px;
  }
  /* .alter_box_row .sec_row {
        align-items: flex-start !important;
        -ms-flex-align: flex-start !important;
    } */
  .section {
    padding: 35px 0;
  }
  .joinus_inner h2 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .joinus_inner {
    padding: 25px 5px;
  }
  .ftr_link_sec .footer_link a {
    font-size: 16px;
  }
  .ftr_logo_blk p {
    font-size: 14px;
    line-height: 24px;
  }
  .count_inner h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .count_inner figure {
    margin-bottom: 20px;
  }
  .count_inner p {
    font-size: 14px;
    line-height: 20px;
  }
  /* .alter_box_row .sec_row {
        margin-bottom: 10px;
    } */
  .alter_box_row .sec_row:last-child {
    margin-bottom: 0;
  }
  .page_inner_banner figure {
    margin-bottom: 20px;
  }
  .banner h1,
  .home_banner h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .banner p,
  .home_banner p {
    margin-bottom: 10px;
  }
  .lg_btn {
    min-width: 160px;
    padding: 12px 20px;
    font-size: 16px;
  }
  .cntry_flag .bootstrap-select > .dropdown-toggle {
    font-size: 12px;
  }
  .flag-icon {
    margin-right: 0px;
  }
  .home_banner .banner_inner {
    padding: 85px 0 45px;
  }
  .desktop_only {
    display: none;
  }
  .for_mobile {
    display: block;
  }
  .home_banner_img img {
    width: 100%;
    object-fit: cover;
    height: 530px;
  }
  .home_banner_img {
    padding: 0;
  }
  #zoom1 text,
  #zoom2 text,
  #zoom3 text,
  #zoom4 text {
    font-size: 27px !important;
  }
}

@media (max-width: 420px) {
  .navbar-brand {
    max-width: 160px;
  }
  .lang_btn {
    font-size: 12px;
    padding-left: 20px;
  }
  .joinus_inner .btn_wrap .basic_btn {
    width: 100%;
  }
  .btn_wrap .basic_btn + .basic_btn {
    margin-left: 3px;
  }
  .joinus_inner .btn_wrap .basic_btn + .basic_btn {
    margin-top: 15px;
    margin-left: 0;
  }
  .timeline_inner p {
    font-size: 14px;
    line-height: 20px;
  }
  .num_count li:after {
    height: calc(100% + 58px);
  }
  #zoom1 text,
  #zoom2 text,
  #zoom3 text,
  #zoom4 text {
    font-size: 38px !important;
  }
}

@media (max-width: 360px) {
  .navbar-brand {
    max-width: 130px;
  }
  .navbar-toggler {
    margin-left: 15px;
  }
}
